.c-divider {
    width: 100%;
    height: 120px;
}
.c-divider--left.c-divider--dark {
    background: linear-gradient(to right bottom, $body-bg 49.5%, transparent 50%);
}
.c-divider--right.c-divider--dark {
    background: linear-gradient(to left bottom, $body-bg 49.5%, transparent 50%);
}
.c-divider--left.c-divider--light {
    background: linear-gradient(to right bottom, $body-bg-light 49.5%, transparent 50%);
}
.c-divider--right.c-divider--light {
    background: linear-gradient(to left bottom, $body-bg-light 49.5%, transparent 50%);
}