h1 {
  font-weight: 100;
}

a {
  color: #ec701d;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #ec701d;
}

body {
  min-height: 100vh;
  background-color: #18204e;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #c7d8df;
}

div.container {
  max-width: 800px;
  margin: 0 auto;
}

div.display-container {
  max-width: 1000px;
  margin: 0 auto;
}

