h1 {
  font-weight: 100;
}

a {
  color: #ec701d;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #ec701d;
}

body {
  min-height: 100vh;
  background-color: #18204e;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #c7d8df;
}

div.container {
  max-width: 800px;
  margin: 0 auto;
}

div.display-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  padding: 10px;
  display: grid;
  grid-template-columns: 12% 88%;
  position: relative;
}

ul li:hover .hovering {
  width: 100%;
}

ul li:not(:first-child) {
  border-top: solid 1px #fff;
}

ul li .flag-wrapper {
  overflow: hidden;
  height: 20px;
  display: inline-block;
  border-radius: 2px 0 0 2px;
}

ul li .flag {
  height: 40px;
  -webkit-transform: rotate(-44grad) translateY(-22px) translateX(-1px);
          transform: rotate(-44grad) translateY(-22px) translateX(-1px);
}

.hovering {
  -webkit-transition: all 350ms;
  transition: all 350ms;
  position: absolute;
  width: 0;
  height: 1px;
  background-color: red;
  content: "";
  z-index: 1;
  bottom: -1px;
}

.highlight-wrapper {
  position: relative;
}

.highlight-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.15);
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.highlight-details {
  position: absolute;
  background-color: rgba(10, 10, 10, 0.4);
  padding: 15px 35px;
  bottom: 15px;
  right: 15px;
}

.highlight-details.hidden {
  display: none;
}

@-webkit-keyframes float {
  from {
    -webkit-transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
            transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
  }

  25% {
    -webkit-transform: translate(-50%, -50%) rotateY(-12deg) rotateX(12deg);
            transform: translate(-50%, -50%) rotateY(-12deg) rotateX(12deg);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) rotateY(-12deg) rotateX(-12deg);
            transform: translate(-50%, -50%) rotateY(-12deg) rotateX(-12deg);
  }

  75% {
    -webkit-transform: translate(-50%, -50%) rotateY(12deg) rotateX(-12deg);
            transform: translate(-50%, -50%) rotateY(12deg) rotateX(-12deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
            transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
  }
}

@keyframes float {
  from {
    -webkit-transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
            transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
  }

  25% {
    -webkit-transform: translate(-50%, -50%) rotateY(-12deg) rotateX(12deg);
            transform: translate(-50%, -50%) rotateY(-12deg) rotateX(12deg);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) rotateY(-12deg) rotateX(-12deg);
            transform: translate(-50%, -50%) rotateY(-12deg) rotateX(-12deg);
  }

  75% {
    -webkit-transform: translate(-50%, -50%) rotateY(12deg) rotateX(-12deg);
            transform: translate(-50%, -50%) rotateY(12deg) rotateX(-12deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
            transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
  }
}

