@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);body {
  margin: 0;
  min-height: 100vh;
  background-color: #18204e;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #c7d8df;
}

h1 {
  font-weight: 100;
}

a {
  color: #ec701d;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #ec701d;
}

.c-container--light {
  background-color: #ccc;
  color: #18204e;
}

.c-container--text {
  max-width: 800px;
  margin: 0 auto;
}

.c-container--visual-1 {
  margin: 0 auto;
}

.c-container--visual-2 {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.c-divider {
  width: 100%;
  height: 120px;
}

.c-divider--left.c-divider--dark {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(49.5%, #18204e), color-stop(50%, transparent));
  background: linear-gradient(to right bottom, #18204e 49.5%, transparent 50%);
}

.c-divider--right.c-divider--dark {
  background: -webkit-gradient(linear, right top, left bottom, color-stop(49.5%, #18204e), color-stop(50%, transparent));
  background: linear-gradient(to left bottom, #18204e 49.5%, transparent 50%);
}

.c-divider--left.c-divider--light {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(49.5%, #ccc), color-stop(50%, transparent));
  background: linear-gradient(to right bottom, #ccc 49.5%, transparent 50%);
}

.c-divider--right.c-divider--light {
  background: -webkit-gradient(linear, right top, left bottom, color-stop(49.5%, #ccc), color-stop(50%, transparent));
  background: linear-gradient(to left bottom, #ccc 49.5%, transparent 50%);
}

.c-landing {
  position: relative;
  height: 100vh;
}

.c-landing .c-landing--copy {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.c-nav {
  width: 250px;
  background-color: #ccc;
  color: #18204e;
  position: relative;
  left: 5vw;
  border-left: 10px solid #767da0;
  border-right: 10px solid #767da0;
}

.c-nav ul {
  margin: 0;
  padding: 0;
}

.c-nav li {
  height: 100vh;
  position: relative;
}

.c-nav h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c-scroll {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.d-mpc--data ul {
  padding: 0;
}

.d-mpc--data ul li {
  list-style: none;
  padding: 10px;
  display: grid;
  grid-template-columns: 12% 78% 10%;
  position: relative;
}

.d-mpc--data ul li:first-child {
  font-weight: bold;
  border-bottom: 1px solid #18204e;
}

.d-mpc--data ul li span {
  z-index: 2;
}

.d-mpc--data ul li:hover .d-mpc--highlight {
  width: 100%;
}

.d-mpc--data ul li .d-mpc--flag {
  overflow: hidden;
  height: 20px;
  display: inline-block;
  border-radius: 2px 0 0 2px;
}

.d-mpc--data ul li .d-mpc--flag img {
  height: 40px;
  -webkit-transform: rotate(-44grad) translateY(-22px) translateX(-1px);
          transform: rotate(-44grad) translateY(-22px) translateX(-1px);
}

.d-mpc--highlight {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  position: absolute;
  width: 0;
  height: 100%;
  opacity: 0.2;
  background-color: #9e2525;
  content: "";
  bottom: -1px;
}

.d-mpc--viz {
  position: relative;
  padding: 25px;
}

.d-mpc--viz img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.15);
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.d-mpc--viz .d-mpc--details {
  position: absolute;
  background-color: rgba(10, 10, 10, 0.4);
  padding: 15px 35px;
  bottom: 0;
  right: 0;
}

.d-mpc--viz .d-mpc--details.hidden {
  display: none;
}

.nt-wrapper:hover .nt-wrap {
  height: 100px;
}

.nt-wrap {
  width: 150px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  -webkit-transition: all 350ms;
  transition: all 350ms;
  height: 70px;
}

.nt-wrap:hover {
  width: 250px;
}

.nt-wrap:hover .nt-img {
  -webkit-transform: rotate(0) scale(1) translate(-50%, -50%);
          transform: rotate(0) scale(1) translate(-50%, -50%);
}

.nt {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  z-index: 2;
}

.pd {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: green;
  z-index: 2;
}

.nt-img {
  -webkit-transition: all 350ms;
  transition: all 350ms;
  width: 100%;
  top: 50%;
  z-index: 1;
  left: 50%;
  position: absolute;
  -webkit-transform-origin: 50% 20%;
          transform-origin: 50% 20%;
  -webkit-transform: rotate(50grad) scale(2);
          transform: rotate(50grad) scale(2);
}

@-webkit-keyframes float {
  from {
    -webkit-transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
            transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
  }

  25% {
    -webkit-transform: translate(-50%, -50%) rotateY(-12deg) rotateX(12deg);
            transform: translate(-50%, -50%) rotateY(-12deg) rotateX(12deg);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) rotateY(-12deg) rotateX(-12deg);
            transform: translate(-50%, -50%) rotateY(-12deg) rotateX(-12deg);
  }

  75% {
    -webkit-transform: translate(-50%, -50%) rotateY(12deg) rotateX(-12deg);
            transform: translate(-50%, -50%) rotateY(12deg) rotateX(-12deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
            transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
  }
}

@keyframes float {
  from {
    -webkit-transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
            transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
  }

  25% {
    -webkit-transform: translate(-50%, -50%) rotateY(-12deg) rotateX(12deg);
            transform: translate(-50%, -50%) rotateY(-12deg) rotateX(12deg);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) rotateY(-12deg) rotateX(-12deg);
            transform: translate(-50%, -50%) rotateY(-12deg) rotateX(-12deg);
  }

  75% {
    -webkit-transform: translate(-50%, -50%) rotateY(12deg) rotateX(-12deg);
            transform: translate(-50%, -50%) rotateY(12deg) rotateX(-12deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
            transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
  }
}

