
// Body
$body-bg: #18204e;
$body-bg-light: #ccc;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$text-color: #c7d8df;
$text-color-light: #18204e;
$link-color: #ec701d;

// Layout
$max-text-width:800px;
$max-display-width:1200px;

body {
    margin: 0;
    min-height:100vh;
    background-color:$body-bg;
    font-family:$font-family-sans-serif;
    font-size:$font-size-base;
    line-height:$line-height-base;
    color:$text-color;
}
h1 {
    font-weight: 100;
}
a {
    color:$link-color;
    text-decoration: none;
    &:hover {
        border-bottom:1px solid $link-color;
    }
}