
// Body
$body-bg: #18204e;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$text-color: #c7d8df;
$link-color: #ec701d;

// Layout
$max-text-width:800px;
$max-display-width:1200px;