
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

h1 {
    font-weight: 100;
}
a {
    color:$link-color;
    text-decoration: none;
    &:hover {
        border-bottom:1px solid $link-color;
    }
}

body {
    min-height:100vh;
    background-color:$body-bg;
    font-family:$font-family-sans-serif;
    font-size:$font-size-base;
    line-height:$line-height-base;
    color:$text-color;
}
div.container {
    max-width:$max-text-width;
    margin:0 auto;
}
div.display-container {
    max-width:$max-display-width;
    margin:0 auto;
    display: grid;
    grid-template-columns: 50% 50%;	
}

ul {
    padding:0;
    li {
        list-style:none;
        padding:10px;
        display:grid;
        grid-template-columns: 12% 88%;
        &:not(:first-child) {
            border-top: solid 1px #fff;
        }
        .flag-wrapper {
            overflow: hidden;
            height: 20px;
            display:inline-block;
            border-radius: 2px 0 0 2px;
        }
        .flag {
            height: 40px;
            transform: rotate(-44grad) translateY(-22px) translateX(-1px);
        }
    }
}
.highlight-wrapper {
    position: relative;
}
.highlight-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
    animation-name: float;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes float {
    from {
        transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
    }
    25% {
        transform: translate(-50%, -50%) rotateY(-12deg) rotateX(12deg);
    }
    50% {
        transform: translate(-50%, -50%) rotateY(-12deg) rotateX(-12deg);
    }
    75% {
        transform: translate(-50%, -50%) rotateY(12deg) rotateX(-12deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateY(12deg) rotateX(12deg);
    }
}